<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mars Hemispheres</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <!-- Add Jumbotron to Header -->
      <div class="jumbotron text-center">
        <h1>Mars Hemispheres</h1>
        <!-- Add a button to activate scraping script -->
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
      </div>
      <!-- Add section for Mars News -->
      <!-- Section for Featured Image and Facts table -->
      <div class="row" id="mars-featured-image" align ='center'>
        <div class="col-md-8">
          <h2>Cerberus Hemisphere Enhanced</h2>
          <img class="thumb" src="https://data-class-mars-hemispheres.s3.amazonaws.com/Mars_Hemispheres/images/full.jpg" style="width:100%"
          
          />
        </div>

        <div class="row" id="mars-featured-image" align = 'center'>
          <div class="col-md-8">
            <h2>Schiaparelli Hemisphere Enhanced</h2>
            <img class="thumb" src="https://data-class-mars-hemispheres.s3.amazonaws.com/Mars_Hemispheres/images/schiaparelli_enhanced-full.jpg" style="width:100%"
            
            />
          </div>

          <div class="row" id="mars-featured-image" align ="center">
            <div class="col-md-8">
              <h2>Sytris Major Hemisphere</h2>
              <img class="thumb" src="https://data-class-mars-hemispheres.s3.amazonaws.com/Mars_Hemispheres/images/syrtis_major_enhanced-full.jpg" style="width:100%"
              
              />
            </div>


            <div class="row" id="mars-featured-image" align ="center">
              <div class="col-md-8">
                <h2>Valles Marineris Hemisphere Enhanced</h2>
                <img class="thumb" src="https://data-class-mars-hemispheres.s3.amazonaws.com/Mars_Hemispheres/images/valles_marineris_enhanced-full.jpg" style="width:100%" align ='right'
                
                />
              </div>




      </div>
    </div>
    
 <!-- Bootstrap Part -->   
 
 
 <!----#1-->   
 <div class="row">
  <div class="col-xs-6 col-sm-3"></div>
  <div class="col-xs-6 col-sm-3"></div>
 
 
 
   <!----#2-->    
<div class="container-fluid">
  <div class="row">
    ...
  </div>
</div>
            

 <!----#3-->   
<div class="row">

  <div class="col-md-8 mb-4">
 
  </div>

  <div class="col-md-4 mb-4">
   
  </div>
</div>

  
  </body>
</html>
